* {
    box-sizing: border-box;
    font-family: arial;
    font-size: 12px;
    color: #24305e;
    list-style-type: none;
}
body {
    width: 960px;
    height: auto;
    margin: 0 auto;
    font-size: 14;
}
@media screen and (max-width: 768px) {
    body {
        width: 100%;
        background-color: #a8d0e6;
    }
}
section {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: "c a" "c nav" "d b" "e b" "f b";
}
@media screen and (max-width: 768px) {
    section {
        width: 100%;
        display: grid;
        grid-template-columns: 50%;
        grid-template-areas: "c a" "nav nav" "b b" "e e" "f f" "d d";
    }
}
.title {
    grid-area: title;
    margin: 40px 50px;
    text-align: right;
    animation-name: title;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}
@media screen and (max-width: 768px) {
    .title {
        margin: 80px auto;
    }
}
.title h1 {
    font-size: 40px;
    margin: 0 auto;
}
@media screen and (max-width: 768px) {
    .title h1 {
        text-align: left;
    }
}
.title h2 {
    font-size: 20px;
    text-align: center-right;
    margin: 0 auto;
    text-decoration: underline solid #f8e9a1;
}
@media screen and (max-width: 768px) {
    .title h2 {
        text-align: left;
    }
}
@keyframes title {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-35px);
    }
    50% {
        transform: translateX(0);
    }
    57% {
        transform: translateX(-7px);
    }
    64% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(0);
    }
}
#h1span {
    color: #f8e9a1;
    font-size: 40px;
    text-align: center-right;
    margin: 0 auto;
}
@media screen and (max-width: 768px) {
    #h1span {
        text-align: left;
    }
}
nav {
    grid-area: nav;
    width: 100%;
    background-color: #a8d0e6;
}
nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #24305e;
}
nav ul li {
    float: left;
    margin: 0 40px;
}
@media screen and (max-width: 768px) {
    nav ul li {
        margin: 0 5%;
    }
}
nav ul li a {
    display: block;
    color: #a8d0e6;
    font-size: 14px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: transform 300ms ease-in, background-color 300ms ease-in;
}
nav ul li a:hover {
    background-color: #161d39;
    color: #f8e9a1;
    transform: scale(1.15);
}
.active {
    transform: scale(1.15);
}
.active a {
    background-color: #161d39;
    color: #f8e9a1;
}
#cat {
    width: 175px;
    height: 175px;
    margin: 55px 57px;
    border: 3px solid #f8e9a1;
    border-radius: 50%;
    animation-name: cat;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}
@media screen and (max-width: 768px) {
    #cat {
        margin: 40px 10px;
        border: 3px solid #f8e9a1;
        border-radius: 50%;
    }
}
@keyframes cat {
    0% {
        transform: scale(1, 1) translateY(0);
    }
    10% {
        transform: scale(1.1, 0.9) translateY(0);
    }
    30% {
        transform: scale(0.9, 1.1) translateY(-35px);
    }
    50% {
        transform: scale(1.05, 0.95) translateY(0);
    }
    57% {
        transform: scale(1, 1) translateY(-7px);
    }
    64% {
        transform: scale(1, 1) translateY(0);
    }
    100% {
        transform: scale(1, 1) translateY(0);
    }
}
#a {
    grid-area: a;
    background-color: #a8d0e6;
}
@media screen and (max-width: 768px) {
    #a {
        width: 100%;
        min-width: 300px;
        padding: 10px 5px;
    }
}
#c {
    background-color: #f76c6c;
    grid-area: c;
    height: 250px;
}
@media screen and (max-width: 768px) {
    #c {
        max-width: 175px;
        background-color: #a8d0e6;
    }
}
.aside-title {
    background-color: #24305e;
    font-size: 20px;
    font-weight: 700;
    color: #f8e9a1;
    padding: 4px 0;
    text-align: center;
    width: 288px;
    height: 30px;
    margin: 10px auto;
}
@media screen and (max-width: 768px) {
    .aside-title {
        width: 100%;
    }
}
#d {
    grid-area: d;
    background-color: #f76c6c;
}
#d ul {
    padding-inline-start: 0;
}
#d ul li {
    padding: 5px 30px;
    text-align: center;
    animation-name: aside;
    animation-duration: 2s;
}
@media screen and (max-width: 768px) {
    #d ul li {
        padding: 2px 30px;
    }
}
@keyframes aside {
    0% {
        color: #f76c6c;
    }
    100% {
        color: #24305e;
    }
}
#e {
    grid-area: e;
    background-color: #f76c6c;
}
#e p {
    padding: 10px 30px;
    text-align: center;
    animation-name: aside;
    animation-duration: 2s;
}
@media screen and (max-width: 768px) {
    #e p {
        padding: 10px 60px;
    }
}
#f {
    grid-area: f;
    background-color: #f76c6c;
}
#f img {
    margin: 10px 9px;
    animation: wiggle 0.5s;
}
@media screen and (max-width: 768px) {
    #f img {
        margin-left: 7%;
        margin-right: 7%;
    }
}
@keyframes wiggle {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}
footer {
    background-color: #24305e;
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 768px) {
    footer {
        width: 100%;
    }
}
footer p {
    color: #f8e9a1;
    margin: 0;
    padding: 0;
}
footer a {
    color: #f8e9a1;
}
#homeb {
    grid-area: b;
    background-color: #a8d0e6;
}
#slideshow {
    overflow: hidden;
    height: 340px;
    width: 600px;
    margin: 0 auto;
}
@media screen and (max-width: 768px) {
    #slideshow {
        height: 283‬px;
        width: 500px;
    }
}
.slide-wrapper {
    width: 2400px;
    animation: slide 18s ease infinite;
}
@media screen and (max-width: 768px) {
    .slide-wrapper {
        width: 2000px;
        animation: mobile-slide 18s ease infinite;
    }
}
.slide {
    float: left;
    height: 340px;
    width: 600px;
}
@media screen and (max-width: 768px) {
    .slide {
        height: 283‬px;
        width: 500px;
    }
}
@keyframes slide {
    0% {
        margin-left: 0px;
    }
    15% {
        margin-left: 0px;
    }
    25% {
        margin-left: -600px;
    }
    40% {
        margin-left: -600px;
    }
    50% {
        margin-left: -1200px;
    }
    65% {
        margin-left: -1200px;
    }
    80% {
        margin-left: -1800px;
    }
    95% {
        margin-left: -1800px;
    }
}
@keyframes mobile-slide {
    0% {
        margin-left: 0px;
    }
    15% {
        margin-left: 0px;
    }
    25% {
        margin-left: -500px;
    }
    40% {
        margin-left: -500px;
    }
    50% {
        margin-left: -1000px;
    }
    65% {
        margin-left: -1000px;
    }
    80% {
        margin-left: -1500px;
    }
    95% {
        margin-left: -1500px;
    }
}
#aboutb {
    grid-area: b;
    padding: 30px 40px;
    background-color: #a8d0e6;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-areas: "g h h h h" "i j j j j" "k l l l l" "m n n n n" "o p p p p" "q r r r r" "s t t t t" "u v v v v" ". w w x x";
}
@media screen and (max-width: 768px) {
    #aboutb {
        width: 100%;
        min-width: 300px;
        padding: 10px 5px;
    }
}
#aboutb h3 {
    background-color: #24305e;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding: 10px 0;
    color: #f8e9a1;
    width: 540.33px;
    margin: 4px 0px 0px -27px;
}
#aboutb h3 include mobile-only {
    width: 100%;
    margin: 4px 0px 0px 5px;
}
#aboutb h5 {
    margin-block-start: 0;
    margin-block-end: 0;
}
#aboutb li {
    margin: 5px 0;
}
@media screen and (max-width: 768px) {
    #aboutb li {
        margin: 5px 0px;
        white-space: normal;
        padding: 0 4px;
    }
}
.cvimg {
    border: 2px solid #f8e9a1;
    margin: 0px 0px 0px 37px;
}
@media screen and (max-width: 768px) {
    .cvimg {
        margin: 0px 0px 0px 20px;
    }
}
#g {
    grid-area: g;
}
#h {
    grid-area: h;
}
#i {
    grid-area: i;
}
#j {
    grid-area: j;
}
#k {
    grid-area: k;
}
#l {
    grid-area: l;
}
#m {
    grid-area: m;
}
#n {
    grid-area: n;
}
#o {
    grid-area: o;
}
#p {
    grid-area: p;
}
#q {
    grid-area: q;
}
#r {
    grid-area: r;
}
#s {
    grid-area: s;
}
#t {
    grid-area: t;
}
#u {
    grid-area: u;
}
#v {
    grid-area: v;
}
#w {
    grid-area: w;
}
#x {
    grid-area: x;
}
#portb {
    grid-area: b;
    background-color: #a8d0e6;
    display: grid;
    padding: 10px 3%;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    grid-template-areas: "portg porth porti" "portj portk portl" "portm portn porto";
}
@media screen and (max-width: 768px) {
    #portb {
        grid-template-columns: 50% 50%;
        grid-template-areas: "portg porth" "porti portj" "portk portl" "portm portn" "porto .";
    }
}
#portg {
    grid-area: portg;
}
#porth {
    grid-area: porth;
}
#porti {
    grid-area: porti;
}
#portj {
    grid-area: portj;
}
#portk {
    grid-area: portk;
}
#portl {
    grid-area: portl;
}
#portm {
    grid-area: portm;
}
#portn {
    grid-area: portn;
}
#porto {
    grid-area: porto;
}
.imgcontent {
    padding: 10px;
    border-radius: 10px;
    color: #24305e;
    transition: background-color 500ms;
}
.imgcontent:hover {
    background-color: #f76c6c;
}
.imgcontent a {
    text-decoration: none;
}
.imgcontent p {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}
.tile img {
    width: 100%;
}
#contb {
    grid-area: b;
    background-color: #a8d0e6;
    padding: 20px;
}
.contact {
    width: 100%;
}
.form__group input {
    border: 2px solid #f8e9a1;
    border-radius: 4px;
    color: #24305e;
    padding: 12px 20px;
    width: 100%;
    transition: border-color 500ms;
}
.form__group input:focus {
    border: 2px solid #f8e9a1;
}
.form__group input:not(:focus):invalid {
    border: 2px solid red;
}
#message {
    height: 150px;
    border: 2px solid #f8e9a1;
    border-radius: 2px;
    color: #24305e;
    padding: 12px 20px;
    width: 100%;
    border-radius: 4px;
    resize: none;
} /*# sourceMappingURL=style.css.map */
